.next
apps/*/.next
node_modules
dist
coverage
*.log
*.tsbuildinfo
.env
.env.local
.env.development.local
.env.production.local
apps/*/.env
apps/*/.env.local
apps/*/.env.development.local
apps/*/.env.production.local
.DS_Store
.refs
prisma/*.db
prisma/*.db-*
apps/*/prisma/*.db
apps/*/prisma/*.db-*
.vercel
.env*
